
.createprofile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #f9fdf9;
  padding: 20px;
}

.createprofile {
  width: 200px;
  padding: 10px;
  background-color: #74b84f;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.profile-box {
  text-align: center;
}


form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px; 
  margin: 0 auto;
}


label {
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
  color: #1e5e1e! ; 
  font-size: 1rem;
}


input, select {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #8c8585;
  width: 100%;
}


button {
  width: 100%;
  background-color: #4d6b4d;
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 1rem;
  margin-top: 10px;
}

button:hover {
  background-color: #3b6e3b;
}


.create-account {
  text-align: center;
  margin-top: 15px;
}

.create-account a {
  color: #a5d68a; 
  font-weight: bold;
  text-decoration: none;
}

.create-account a:hover {
  text-decoration: underline;
}
