.dashboard {
  display: flex;
  background-color: #a5d68a; 
  min-height: 100vh; 
}

  
  .sidebar {
    width: 240px;
    background-color: #2f4f2f;
    color: white;
    padding: 20px;
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #555;
    color: white;

  }
  
  .sidebar li:hover {
    background-color: #a5d68a;
  }
  
  .sidebar .active {
    font-weight: bold;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .top-stats {
    display: flex;
    gap: 20px;
    max-height: 150px;
  }
  
  .stat-card {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
  }

  .stat-amount {
    font-size: 2rem;
    font-weight: bold;
    color: #4d6b4d;
  }
  .streak-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  
  .streak-icon {
    width: 50px;
    height: 50px;
  }
  

  .gold-icon {
    width: 40px;  
    height: 40px;
    vertical-align: middle; 
    margin-left: 20px; 
   }
  .silver-icon {
    width: 40px;  
    height: 40px;
    vertical-align: middle; 
    margin-left: 20px; 
   }
  .bronze-icon {
    width: 40px;  
    height: 40px;
    vertical-align: middle; 
    margin-left: 20px; 
   }

  .sidebar__brand .logo {
    width: 150px;
    height: 150px;
    margin-left:-20px;
  }

  .calcicon {
    width: 40px;  
    height: 40px;
    vertical-align: middle; 
    margin-left: 20px; 
  }

  .cashicon {
    width: 40px;  
    height: 40px;
    vertical-align: middle; 
    margin-left: 20px; 
  }

  .coinicon {
    width: 40px;  
    height: 40px;
    vertical-align: middle;
    margin-left: 20px; 
  }


  
   

  